/* app.css */

body{
  background-color: #44494F;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popovers{
  position: fixed;
  top: 160px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}
.popovers.bounce{
   -webkit-animation: popoverBounceIn 0.5s 1 ease-out;
}
@-webkit-keyframes popoverBounceIn{
  0%{ -webkit-transform: translateY(0)}
  30%{ -webkit-transform: translateY(0)}
  60% { -webkit-transform: translateY(10px);}
  80% { -webkit-transform: translateY(-2px);;}
  100% { -webkit-transform: scale(1) translateY(0);}
}
#caret{
  position: fixed;
  top: 150px;
  left: 45px;
  width: 40px;
}
.popover{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(0,0,0,1);
}



.app_icons{
  position: fixed;
  top: 0;
  left: -webkit-calc(50% - 42px);
  left: 20px;
  width: 2000px;
  height: 150px;
  padding: 50px 0;

  font-size: 0;

  -webkit-transition: all 0.4s ease-out;

}
.app_icon{
  margin: 0;
  margin: 0 6px;
  width: 83px;
  height: 83px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-out;

}

.app_icon img{
  width: 100%;
  -webkit-transition: all 0.1s ease-out;
  -webkit-transform: scale(1);
  
}
.app_icon.grow img{
  -webkit-transform: scale(1.1) translateY(-5px);
  /*-webkit-animation: growBounce 0.2s 1 ease-out;*/
}
/*
@-webkit-keyframes growBounce{
  0%{ -webkit-transform: scale(1);}
  50% { -webkit-transform: scale(1.4);}

  100% { -webkit-transform: scale(1.2);}
}
*/
.app_icon.shrink img{

   -webkit-animation: shrinkBounce 0.4s 1 ease-out;

}
@-webkit-keyframes shrinkBounce{
  0%{ -webkit-transform: scale(1.1) translateY(-5px);}
  25% { -webkit-transform: scale(1) translateY(5px);}
  50% { -webkit-transform: scale(1) translateY(-2px);;}
  75% { -webkit-transform: scale(1) translateY(2px);;}
  100% { -webkit-transform: scale(1) translateY(0);}
}
